/*
# Color Variables

To create the color name variables use the website [Name That Color](http://chir.ag/projects/name-that-color).
Then, and only then, you can use that variable for your own color name variables ;)

E.g.
* You have the color `#424242`.
* Go to [Name That Color](http://chir.ag/projects/name-that-color) and paste `#424242`.
* You'll get a name. In this case **Tundora**.
* Create a new variable `$tundora = #424242` *(variable names always start with `$` and are lowercase)*.
* Now you can use `$tundora` for example in `$base-font-color` or in `$primary-btn-color`, etc.

*/

$base-font-color = #000

$sabadell-color = #349dd2
$header-color = #182226
$header-past-color = #b0b0b0
$text-color = $header-color
$sabadell-logo-color-bg = $sabadell-color
$border-color = #dadada

$primary-btn-color = #349dd2
$secondary-btn-color = #717171

$positive-color = #1eeb65
$neutral-color = #fff3cb
$negative-color = #ff2e34

$error-color = red
$warning-color = #f3d131
$correct-color = green

$link-color = #6c9bde
$selected-color = #d6d632

$grey-text = #f6f6f6
