html
    box-sizing: border-box
    height: 100%
    m-font-size($base-font-size)

*,
*:before,
*:after
    box-sizing: inherit

body
    color: $base-font-color
    font-family: $base-font-family
    font-size: $base-font-size
    height: 100%
    margin: 0
    padding: 0px

ul,
li
    list-style-type: none
    margin: 0
    padding: 0

img
    border: none
    max-width: 100%

body
  margin: 0px
  padding: 0px

#app
  display: flex
  flex-direction: column
