/*
# Color Variables

To create the color name variables use the website [Name That Color](http://chir.ag/projects/name-that-color).
Then, and only then, you can use that variable for your own color name variables ;)

E.g.
* You have the color `#424242`.
* Go to [Name That Color](http://chir.ag/projects/name-that-color) and paste `#424242`.
* You'll get a name. In this case **Tundora**.
* Create a new variable `$tundora = #424242` *(variable names always start with `$` and are lowercase)*.
* Now you can use `$tundora` for example in `$base-font-color` or in `$primary-btn-color`, etc.

*/

$cararra = #F3F2EF
$desert-storm = #fafaf9
$dove-gray = #707070
$dune = #33302E
$natural-gray = #8A8785
$pampas = #F7F6F4
$sandstone = #79706a
$tango = #EA5D1A
$westar = #DEDAD4 // worm grey
$zorba = #9F948E

$base-font-color = #000

$primary-btn-color = $tango
$secondary-btn-color = #fff

$primary-theme-color = $tango

$link-color = $tango
